<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../style.css">
</head>

<body>
    <div class="topbar">
        <img class="discordImage"
            src="https://cdn.discordapp.com/avatars/800491426298986496/a57bc36e7accf94072378058f920e3bc?size=1024"
            alt="current discord icon">
        <h1 class="Name"><strong>Error110</strong></h1>
    </div>
    <div class="subjects">
        <div class="about">
            <h2>About Me</h2>
            <p>
                Hi I am a second year computer science student. I enjoy Backend development. I am best at
                making Minecraft plugins in spigot / papermc, Minecraft Mods in FabricMC, Making discord bots using discord.js.
                Heres a list of technologys I know:
            </p>
            <ul class="horizontal-list">
                <li>Linux</li>
                <li>Java</li>
                <li>JavaScript</li>
                <li>Kotlin</li>
                <li>c#</li>
                <li>MySQL</li>
                <li>SQLite</li>
                <li>MongoDB</li>
                <li>petrodactyl</li>
            </ul>

        </div>
        <div class="modrinth">
            <h2>Modrinth</h2>
        </div>
        <div class="github">
            <h2>Github</h2>
        </div>
        <div class="projects">
            <h2>Projects</h2>
        </div>
    </div>
</body>
<script>
    fetch('https://api.github.com/users/Error11O/repos')
  .then(response => response.json())
  .then(data => console.log(data));
</script>
</html>